---
layout: layouts/base.njk
bodyClass: body-home
---
<!-- Delete this message -->
<div class="warning">
  <h1>Work in progress</h1>
  <p>This website is a work in progress, please be patient</p>
</div>
<!-- Stop deleting -->

{{ content | safe }}
